# Análise Exploratória de Dados - COMPREUP

In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
order_products = pd.read_csv('/home/flaviana/Alexandre/compre_up/export_csv/projeto_01/dados/order_products.csv')
orders = pd.read_csv('/home/flaviana/Alexandre/compre_up/export_csv/projeto_01/dados/orders.csv')
products = pd.read_csv('/home/flaviana/Alexandre/compre_up/export_csv/projeto_01/dados/products.csv')
prices = pd.read_csv('/home/flaviana/Alexandre/compre_up/export_csv/projeto_01/dados/prices.csv')

In [ ]:
order_products.info()
order_products.describe()

orders.info()
orders.describe()

products.info()
products.describe()

prices.info()
prices.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   56 non-null     int64
 1   order_id             56 non-null     int64
 2   supplier_product_id  56 non-null     int64
 3   price_id             56 non-null     int64
 4   price_value          56 non-null     float64
 5   price_date           56 non-null     object
 6   created_at           56 non-null     object
 7   updated_at           56 non-null     object
 8   quantity             56 non-null     int64
 9   total_price          56 non-null     float64
 10  delivery_date        2 non-null      object
dtypes: float64(2), int64(5), object(4)
memory usage: 4.9+ KB

,id,order_id,supplier_product_id,price_id,price_value,quantity,total_price
count,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000
mean,28.500000,25.000000,51.678571,138.642857,8269.803571,4.642857,21454.678571
std,16.309506,14.029838,19.131228,48.309392,19938.446352,13.357230,49102.765093
min,1.000000,1.000000,3.000000,10.000000,3.000000,1.000000,6.000000
25%,14.750000,13.750000,51.000000,151.000000,53.000000,2.000000,167.000000
50%,28.500000,25.500000,54.000000,152.000000,1550.000000,2.000000,3200.000000
75%,42.250000,37.250000,65.250000,164.750000,2300.000000,3.000000,7475.000000
max,56.000000,48.000000,74.000000,182.000000,99900.000000,100.000000,251940.000000

In [ ]:
order_products.isnull().sum() # a coluna delivery_date está com 54 valores ausentes

orders.isnull().sum() # as colunas: subsidiary_id e seller_id estão com 22 e 21 valores ausentes

products.isnull().sum() # as colunas: description e image_url  estão com 13 e 14 valores ausentes

prices.isnull().sum() # a coluna supplier_product_id está com 29 valores ausentes

In [1]:
# plt.figure(figsize=(10, 6))
# sns.histplot(prices['value'], bins=30, kde=True)
# plt.title('Distribuição de Volume de Compras')
# plt.show()